<div class="container-fluid mt-5 ">


  <div class="col mb-5">
      <form role="search" class="position-relative">
        <input type="search" class="form-control ps-5 rounded-4 w-75" placeholder="Search for anyting" aria-label="Search" style=" font-size: 14px;">
        <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
      </form>
  </div>

<div class="container-fluid mb-5 bg-body-secondary">
  <h3 class="mb-5">Learn from popular categories in India</h3>

<div *ngFor="let course of courses">
<h5 (click)="goToCourseDetails(course)" style="cursor: pointer;">
  {{ course.landingPage.courseTitle }}
</h5>



  <h5>{{ course.landingPage.courseThumbnail }}</h5>
  <h5 [innerHTML]="course.landingPage.courseDescription"></h5>

  <button class="btn btn-info btn-sm" (click)="handleAddToCart(course._id!)">
    Add to cart
  </button>
</div>



  <div class="row g-3">

  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>



</div>
</div>


<div class="container-fluid bg-body-secondary mt-5 mb-5">
  <h3 class="mb-5">What to learn next</h3>

  <div class="row g-3">

  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 rounded-0">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="cursor: pointer;">Card title</h5>
        <p class="card-text"> This content is a little bit longer.</p>
          <button class="btn btn-info btn-sm">Add to cart</button>

      </div>
    </div>
  </div>



</div>
</div>


</div>
