<app-app-header></app-app-header>


<!-- Cover page -->
<div class="container-fluid d-flex align-items-center vh-100 position-relative p-0 overflow-hidden">

<img class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover; z-index: 0;" src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744000400/all-courses-header-01_1_vcgijc.webp" >

  <!-- Overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.5); z-index: 1;"></div>

  <!-- Content -->
  <div class="text-white text-start  px-5" style="z-index: 2;">
    <h1 class="fw-bold text-shadow" style="font-size: 48px;">ALL COURSES</h1>
    <p class="fw-regular">
      Specialized online courses and mentorship to prepare you for a career in the creative industries
    </p>

    <div class="col mt-5">
      <a href="courses">
      <button class="btn btn-outline-primary px-4 py-3 text-center">
        FIND YOUR COURSE
      </button>
    </a>
    </div>
  </div>



</div>



<div class="container-fluid p-5 bg-body-secondary">

  <div class="row align-items-md-stretch mt-5 mb-5">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>

</div>




<div class="container-fluid p-5">


      <!--SHORT COURSES -->

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-12 col-md-8 mx-auto">
              <h3 class="fw-semibold">SHORT COURSES</h3>
              <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

            </div>
          </div>
        </section>

        <div class="mb-4">
          <div class="d-flex">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-size: 14px;">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">ALL</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="animation-tab" data-bs-toggle="tab" data-bs-target="#animation" type="button" role="tab" aria-controls="animation" aria-selected="false">ANIMATION</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="modeling-tab" data-bs-toggle="tab" data-bs-target="#modeling" type="button" role="tab" aria-controls="modeling" aria-selected="false">3D MODELING</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="conceptArt-tab" data-bs-toggle="tab" data-bs-target="#conceptArt" type="button" role="tab" aria-controls="conceptArt" aria-selected="false">CONCEPT ART</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="visualEffects-tab" data-bs-toggle="tab" data-bs-target="#visualEffects" type="button" role="tab" aria-controls="visualEffects" aria-selected="false">VISUAL EFFECTS</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="gameDevelopment-tab" data-bs-toggle="tab" data-bs-target="#gameDevelopment" type="button" role="tab" aria-controls="gameDevelopment" aria-selected="false">GAME DEVELOPMENT</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="virtualFilmMaking-tab" data-bs-toggle="tab" data-bs-target="#virtualFilmMaking" type="button" role="tab" aria-controls="virtualFilmMaking" aria-selected="false">VIRTUAL FILM MAKING</button>
              </li>

            </ul>
          </div>
        </div>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

                    <div class="col">

                      <div class="card h-100 w-100 shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style=" object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card height: 225px; shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style=" object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card h-100 shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style=" object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane fade" id="animation" role="tabpanel" aria-labelledby="animation-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane fade" id="modeling" role="tabpanel" aria-labelledby="modeling-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>


          <div class="tab-pane fade " id="conceptArt" role="tabpanel" aria-labelledby="conceptArt-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane fade" id="visualEffects" role="tabpanel" aria-labelledby="visualEffects-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane fade" id="gameDevelopment" role="tabpanel" aria-labelledby="gameDevelopment-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane fade" id="virtualFilmMaking" role="tabpanel" aria-labelledby="virtualFilmMaking-tab">
            <div class="container-fluid">


              <div class="album py-5 bg-body-tertiary">
                <div class="container">

                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  g-3">

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                    <div class="col">

                      <div class="card shadow-sm">
                        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735393677/real-time-virtual-production-diploma-course-tile_mrfff0.webp"
                             class="card-img-top"
                             alt="Real-time Virtual Production Course"
                             style="height: 225px; object-fit: cover;">

                        <div class="card-body">
                          <h5>Course Heading</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>


  </div>

<div class="container-fluid p-5 bg-info">
  <p class="text-center fw-semibold">STUDENT TESTIMONIALS</p>
  <h1 class="text-center mb-5" style="font-size: 48px;">Get the Education Your Deserve</h1>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<app-app-footer></app-app-footer>
