
<ng-container *ngIf="!isMobile">
<nav class="navbar navbar-expand-lg bg-white fixed-top shadow" style="height: 60px;">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- LEFT SIDE: Brand + Explore -->
    <div class="d-flex align-items-center gap-4 ">

      <a  class="navbar-brand d-flex align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/course-platform-247f5.firebasestorage.app/o/Website%2FLogo%201.jpg?alt=media&token=b7463ab0-2dee-41ae-87ec-d4d7610ae333" alt="Talent Hub Logo" class="img-fluid" style="height: 40px; margin-right: 10px; border-radius: 50%;">
      </a>

    <div class="header-nav d-none d-lg-flex align-items-center gap-3">

      <ul class="navbar-nav mb-0 d-flex align-items-center" style="font-size: 14px; margin-left: -30px;" >

        <div class="position-relative">
          <li class="text-dark mx-3" style="cursor: pointer;"><a routerLink="/main" routerLinkActive="active-link">Home</a></li>
        </div>

        <div class="position-relative">
          <li class="text-dark mx-3" style="cursor: pointer;"><a routerLink="/courses" routerLinkActive="active-link">Find courses</a></li>
        </div>

        <div class="position-relative">
          <li class="text-dark mx-3" style="cursor: pointer;"><a routerLink="/teaching" routerLinkActive="active-link">Teach with us</a></li>
        </div>

        <div class="position-relative">
          <li class="text-dark mx-3" style="cursor: pointer;"><a routerLink="/learning" routerLinkActive="active-link">Learn with us</a></li>
        </div>


        <div class="position-relative" >
          <li class="text-dark mx-3" style="cursor: pointer;"><a routerLink="/about" routerLinkActive="active-link">About</a></li>
        </div>


      </ul>

    </div>


    </div>

    <!-- RIGHT SIDE: Login/Signup -->
    <div class="d-none d-lg-flex align-items-center gap-4">
      <ul class="navbar-nav mb-0 d-flex align-items-center" style="font-size: 14px;">
        <li class="nav-item me-4">
          <button class="btn btn-outline-primary btn-sm px-3 mx-1" (click)="goToLoginPage()">Log in</button>
        </li>
        <li class="nav-item me-4">
          <button class="btn btn-primary btn-sm px-3 mx-1"(click)="goToSignupPage()">Sign up</button>
        </li>
      </ul>
    </div>

  </div>
</nav>
</ng-container>


<ng-container *ngIf="isMobile">
<nav class="navbar bg-white fixed-top shadow px-3 py-2" style="height: 60px;">
  <div class="container-fluid d-flex justify-content-start align-items-center" style="height: 100%;">

    <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" style="font-size: 0.9rem;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-flex align-items-center" style="height: 100%;">
      <img src="https://firebasestorage.googleapis.com/v0/b/course-platform-247f5.firebasestorage.app/o/Website%2FLogo%201.jpg?alt=media&token=b7463ab0-2dee-41ae-87ec-d4d7610ae333" alt="Talent Hub Logo" style="height:40px; margin-left: 10px;  transform-origin: center; border-radius: 50%;">
    </a>

  </div>
</nav>




  <!-- Offcanvas Sidebar -->
  <div class="offcanvas offcanvas-start  w-100" tabindex="-1" id="mobileSidebar">
    <div class="offcanvas-header">
      <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div class="header-nav">
      <ul class="navbar-nav mt-3">
         <li class="nav-item mb-2">
          <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/main" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/courses" routerLinkActive="active-link">Find courses</a>
        </li>
         <li class="nav-item mb-2">
          <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/teaching" routerLinkActive="active-link">Teach with us</a>
        </li>
         <li class="nav-item mb-2">
          <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/learning" routerLinkActive="active-link">Learn with us</a>
        </li>

         <li class="nav-item mb-2">
          <a class="nav-link" data-bs-dismiss="offcanvas"  routerLink="/about" routerLinkActive="active-link">About</a>
        </li>


        <hr/>
        <li class="nav-item d-flex justify-content-between gap-3">
          <button class="btn btn-sm btn-outline-primary w-100" (click)="goToLoginPage()">Login</button>
          <button class="btn btn-sm btn-outline-secondary w-100" (click)="goToSignupPage()">Sign Up</button>
        </li>
      </ul>
      </div>
    </div>
  </div>
</ng-container>








