<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height: 65px;">
  <div class="container-fluid">

    <!-- Brand -->
 >
      <!-- Brand -->
      <a href="#" class="navbar-brand d-flex align-items-center text-white">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg"
             alt="logo" width="45" height="45" class="me-2">
        <span>Creative Hub</span>
      </a>




    <!-- Desktop Navbar -->
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between align-items-center" id="navbarSupportedContent">

      <!-- Center nav links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-size: 14px;">
        <!-- Courses -->
        <li class="nav-item mx-3">
          <a class="nav-link text-white" href="courses" style="text-decoration: none;">Courses</a>
        </li>


        <li class="nav-item mx-3">
          <a class="nav-link text-white" href="teaching" style="text-decoration: none;">Teach on course hub</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link text-white" href="courses" style="text-decoration: none;">Learn with course hub</a>
        </li>

      </ul>

      <!-- Right Side Buttons -->
      <div class="d-flex gap-2">
        <button class="btn btn-outline-light btn-sm px-3">Login</button>
        <button class="btn btn-outline-light btn-sm px-3">Signup</button>
      </div>
    </div>




    <!-- Mobile toggler -->
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
    aria-controls="mobileMenu">
<span class="navbar-toggler-icon"></span>
</button>


    <!-- Offcanvas Mobile Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark d-lg-none w-75" tabindex="-1" id="mobileMenu"
         aria-labelledby="mobileMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav"  style="font-size: 14px;">
          <!-- Mega dropdown mobile -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="mobileDropdown1" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu bg-body-secondary">
              <li class="px-3 py-2">
                <h5 class="mb-2">Featured Section</h5>
                <p>Some placeholder content for the dropdown panel.</p>
              </li>
            </ul>
          </li>

          <!-- Admissions dropdown mobile -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="mobileDropdown2" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Admissions
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Apply Now</a></li>
              <li><a class="dropdown-item" href="#">Courses</a></li>
              <li><a class="dropdown-item" href="#">Fee Structure</a></li>
              <li><a class="dropdown-item" href="#">FAQs</a></li>
              <li><a class="dropdown-item" href="#">Scholarships</a></li>
            </ul>
          </li>
        </ul>

        <!-- Buttons -->
        <div class="mt-4">
          <button class="btn btn-outline-primary w-100 mb-2 text-white">Login</button>
          <button class="btn btn-outline-primary w-100 text-white">Signup</button>
        </div>
      </div>
    </div>

  </div>
</nav>


