<div class="container-fluid  px-5 mt-3">
<!-- Sidebar Navigation (Tabs) inside a Card -->

    <ul class="nav nav-underline " id="settingsTab" role="tablist">
         <li class="nav-item mb-2" role="presentation">
        <a class="nav-link active" id="basic-details-tab" data-bs-toggle="tab" data-bs-target="#basic-details" type="button" role="tab">
         Basic Details
        </a>
      </li>
         <li class="nav-item mb-2" role="presentation">
        <a class="nav-link" id="profile-update-tab" data-bs-toggle="tab" data-bs-target="#profile-update" type="button" role="tab">
          Profile Upload
        </a>
      </li>
      <li class="nav-item mb-2" role="presentation">
        <a class="nav-link" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#change-password" type="button" role="tab">
          Change password
        </a>
      </li>
      <li class="nav-item mb-2" role="presentation">
        <a class="nav-link" id="social-network-tab" data-bs-toggle="tab" data-bs-target="#social-network" type="button" role="tab">
          Social Network
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="manage-account-tab" data-bs-toggle="tab" data-bs-target="#manage-account" type="button" role="tab">
          Manage Account
        </a>
      </li>
    </ul>


<!-- Tab Content -->

  <div class="tab-content " id="settingsTabContent">

    <div class="tab-pane fade show active" id="basic-details" role="tabpanel">
      <div class="col mt-3">
        <h5>Basic details</h5>
      </div>

    </div>


    <div class="tab-pane fade " id="profile-update" role="tabpanel">
      <div class="col mt-3">
        <h5>Profile Update</h5>
      </div>

    </div>


    <div class="tab-pane fade " id="change-password" role="tabpanel">
      <div class="col mt-3">
        <h5>Change Password</h5>
      </div>

    </div>

    <div class="tab-pane fade" id="social-network" role="tabpanel">
      <div class="col mt-3">
        <h3>Social Network</h3>
        <p>Connect your social accounts.</p>
      </div>
    </div>

    <div class="tab-pane fade" id="manage-account" role="tabpanel">
      <div class="col mt-3">
        <h3>Manage Account</h3>
        <p>Delete or deactivate your account.</p>
      </div>


      <button (click)="deleteAccount()" class="btn btn-danger w-25">Delete Account</button>
    </div>
  </div>



</div>





