
<div class="container-fluid  mt-5 mb-5 bg-body-secondary">
<h3 class="mb-5">Courses</h3>

<div class="col text-end" style="margin-right: 40px;">
  <button class="btn btn-sm btn-outline-primary rounded-0 px-3" (click)=" createNewCourse()">New course</button>

</div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6" >
          <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169959/3d-render-online-education-survey-test-concept_107791-15665_dkwkmj.jpg"
            class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h5>Create an Engaging Course</h5>
          <p class="fs-6">Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've compiled resources and best practices to help you get to the next level, no matter where you're starting.</p>

        </div>
      </div>
    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-md-start">

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6" >
            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169959/3d-render-online-education-survey-test-concept_107791-15665_dkwkmj.jpg"
              class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h5> Get Started with Video</h5>
            <p class="fs-6">Quality video lectures can set your course apart. Use our resources to learn the basics.</p>

          </div>
        </div>
      </div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6" >
          <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169959/3d-render-online-education-survey-test-concept_107791-15665_dkwkmj.jpg"
            class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h5> Build Your Audience</h5>
          <p class="fs-6">Set your course up for success by building your audience.</p>

        </div>
      </div>
    </div>

    </div>


</div>
