<app-app-header></app-app-header>


<div class="container py-5  px-sm-4">
  <div class="row align-items-center g-5 py-5">

    <!-- Image -->
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mx-lg-0">
               <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169895/9175118_6461_rmh637.jpg" class="img-fluid"
           alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>

    <!-- Text Content -->
    <div class="col-12 col-lg-6 text-center text-lg-start">
         <main class="form-signin w-100 m-auto">

             <h2 class=" mb-3 fw-bold text-center">Become a course learner</h2>

          <form [formGroup]="registrationForm" (ngSubmit)="submit()">

              <div>
               <input  [ngClass]="{'is-invalid': registrationForm.get('fullName')?.invalid && registrationForm.get('fullName')?.touched}"  type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
               <small *ngIf="registrationForm.get('fullName')?.touched && registrationForm.get('fullName')?.errors?.['required']" class="text-danger">Full Name is required.</small>
             </div>


              <div class=" mt-3">
               <input  [ngClass]="{'is-invalid': registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched}"  type="text" id="floatingUserName"   class="form-control" formControlName="userName" placeholder="User Name">
               <small *ngIf="registrationForm.get('userName')?.touched && registrationForm.get('userName')?.errors?.['required']" class="text-danger">User Name is required.</small>
             </div>

             <div class="mt-3">
               <input  [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}"  type="email" id="floatingEmail"   class="form-control" formControlName="email" placeholder="sample@gmail.com">
               <small *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['required']" class="text-danger">Email is required.</small>
             </div>

             <div class="mt-3">
               <input [ngClass]="{'is-invalid': registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched}" type="password" id="floatingPassword" class="form-control " formControlName="password"  placeholder="Password">
                <small *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']" class="text-danger">Password is required.</small>
             </div>

             <button class="btn btn-primary w-100 mt-5 rounded-0" type="submit" >Sign Up</button>

            </form>

           <p class="mb-0 text-center mt-3 poppins-regular">Already have an account? <span class="text-primary fw-bold" (click)="login()" style="cursor: pointer; text-decoration: underline;">Log In</span></p>

         </main>
    </div>

  </div>
</div>

 <app-app-footer></app-app-footer>
