

<div class=" col mt-3 px-5">
  <button class="btn btn-sm btn-outline-secondary px-3 rounded-0" (click)="goToCoursePage()">back</button>
</div>


<div class="container-fluid p-5 ">

  <div class="row d-flex">
  <div class="col-2" >
    <div class="nav flex-column nav-tabs" role="tablist" aria-orientation="vertical" *ngFor="let menu of menuItems" >
      <button class="nav-link mb-2 btn-outline-primary" [routerLink]="menu.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span  class="links_name poppins-medium" style="margin-left: 5px; margin-right: 10px; font-size: 14px;">{{ menu.label }}</span>
      </button>
    </div>
  </div>

     <div class="col-10">
      <router-outlet ></router-outlet>
      </div>
    </div>

</div>
