body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


body {
  scroll-behavior: smooth;
  padding-top: 60px;
}

section {
  padding: 100px 20px;
  min-height: 100vh;
}

.nav-tabs .nav-link {
  color: black;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 8px 16px;
}

.nav-tabs .nav-link:hover {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd;
}

.nav-tabs .nav-item {
  margin-right: 12px;
}

html {
  scroll-padding-top: 70px;
}
