            <div class="card shadow-lg rounded-0">
              <div class="card-body p-5">
                <h4>Course landing page</h4>
                <hr>
                <p style="font-size: 14px; text-align: justify;">
                  Your course landing page is crucial to your success on Udemy. If it’s done right, it can also help you gain visibility
                  in search engines like Google. As you complete this section, think about creating a compelling Course Landing
                  Page that demonstrates why someone would want to enroll in your course. Learn more about creating your course landing
                  page and course title standards.
                </p>

                <div class="mb-3 mt-5">
                  <label class="form-label fw-bold">Course title</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Course Title" style="font-size: 14px;">
                </div>

                <div class="mb-3">
                  <label  class="form-label fw-bold">Course category</label>
                  <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect02" style="font-size: 14px;">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>

                </div>


                <div class="mb-3">
                  <label class="form-label fw-bold">Course description</label>
                  <textarea type="email" class="form-control rounded-0 form-control-sm" id="exampleFormControlInput1" placeholder="Course description" style="font-size: 14px;"></textarea>
                </div>




                <div class="container col-xxl-8 px-4 py-5">
                  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6" style="border: 1px solid black;">
                      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744170029/26196026_top_management_15_qdqj4g.jpg"
                        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                      <p class="fs-6">Upload your course image here. It must meet our course image quality standards to be accepted. Important guidelines: 750x422 pixels; .jpg, .jpeg,. gif, or .png. no text on the image.</p>

                      <div class=" justify-content-md-start">
                        <div class="input-group mt-5">
                          <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>




                <div class="container col-xxl-8 px-4 py-5">
                  <div class="row flex-lg-row align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6" style="border: 1px solid black;">
                      <img
                        src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744170029/26196026_top_management_15_qdqj4g.jpg"
                        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                    </div>

                    <div class="col-lg-6">

                      <p class="fs-6">
                        Your promo video is a quick and compelling way for students to preview what they’ll learn in
                        your course. Students considering your course are more likely to enroll if your promo video is well-made.
                        Learn how to make your promo video awesome!
                      </p>

                      <div class="justify-content-md-start">
                        <div class="input-group mt-5">
                          <input type="file" class="form-control form-control-sm" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
