<div class="container-fluid bg-body-secondary">
  <p>Overview</p>

    <div class="row row-cols-1 row-cols-md-4 g-3">
      <div class="col">
      <div class="card border-primary mb-3 rounded-0 h-100" style="max-width: 18rem;">
        <div class="card-body text-primary">
          <h6 class="card-title">TOTAL REVENUE</h6>
          <p class="card-text" style="font-size: 14px;">$46.34k</p>
          <p class="card-text" style="font-size: 14px;">Earning this month</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3 rounded-0 h-100" style="max-width: 18rem;">
        <div class="card-body text-primary">
          <h6 class="card-title">TOTAL REFUNDS</h6>
          <p class="card-text" style="font-size: 14px;">$895.02</p>
          <p class="card-text" style="font-size: 14px;">Refunds this month</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3 rounded-0 h-100" style="max-width: 18rem;">
        <div class="card-body text-primary">
          <h6 class="card-title">TOTAL STUDENTS</h6>
          <p class="card-text" style="font-size: 14px;">6,985</p>
          <p class="card-text" style="font-size: 14px;">Users this Month</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary mb-3 rounded-0 h-100" style="max-width: 18rem;">
        <div class="card-body text-primary">
          <h6 class="card-title">ALL TIME COURSE PURCHASES</h6>
          <p class="card-text" style="font-size: 14px;">12,584</p>
          <p class="card-text" style="font-size: 14px;">Total Number of Courses</p>
        </div>
      </div>

    </div>
    </div>




  <div class="row  g-3 mb-5 mt-5">

    <p>Charts</p>

    <div class="col-5">
    <div class="card border-primary mb-3 rounded-0 h-100" >
      <div class="card-body text-primary">
        <p>Revenue Pie chart</p>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div class="card border-primary mb-3 rounded-0 h-100" >
      <div class="card-body text-primary">
        <p>Students and courses bar chart</p>


      </div>
    </div>
  </div>


  </div>


  <div class="row  g-3 mb-5 mt-5">

    <p>Students</p>

    <div class="col-7">
    <div class="card border-primary mb-3 rounded-0 h-100" >
      <div class="card-body text-primary">

      <div class="table-responsive mb-5 mt-5">
        <table class="table  table-hover text-center align-middle shadow-sm" style="font-size: 14px;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 5%;">S.No</th>
              <th scope="col" style="width: 15%;">Name</th>
              <th scope="col" style="width: 10%;">Course Name</th>
              <th scope="col" style="width: 15%;">Status</th>

              <th scope="col" style="width: 10%;">Purchased On</th>
              <th scope="col" style="width: 10%;">Revenue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>John walker</td>
              <td>Wireframing Kit for Figma</td>
              <td>paid</td>
              <td>06-05-2025</td>

              <td>2000 rupess </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td colspan="9" class="text-center text-muted poppins-medium py-3">No jobs available to display.</td>
            </tr>
          </tbody>
        </table>

      </div>

      </div>
    </div>
  </div>

  <div class="col-5">
    <div class="card border-primary mb-3 rounded-0 h-100" >
      <div class="card-body text-primary">
        <p>Google Maps</p>


      </div>
    </div>
  </div>


  </div>

</div>
