<app-app-header></app-app-header>

   <div class="container-fluid col-xxl-8 p-5">
     <div class="row d-lg-flex align-items-center g-5 p-3 mt-4 mb-4">

       <!-- Left Image Section -->
       <div class="col-12 col-sm-8 col-lg-7 text-center">
         <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169895/9175118_6461_rmh637.jpg" class="img-fluid"
           alt="Bootstrap Themes" width="700" height="500" loading="lazy">
       </div>

       <!-- Right Form Section -->
       <div class="col-lg-5">


         <main class="form-signin w-100 m-auto">

           <form>
             <h2 class=" mb-3 fw-bold text-center">Become a course instructor</h2>

             <div class="form-floating">
               <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput">Email</label>
             </div>
             <div class="form-floating mt-3">
               <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
               <label for="floatingPassword">Password</label>
             </div>
             <div class="form-floating mt-3">
               <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
               <label for="floatingPassword">Confirm Password</label>
             </div>

             <button class="btn btn-primary w-100 mt-5 rounded-0" type="submit">Sign Up</button>
           </form>

           <p class="mb-0 text-center mt-3 poppins-regular">Already have an account? <span class="text-primary fw-bold" (click)="login()" style="cursor: pointer; text-decoration: underline;">Log In</span></p>

         </main>

       </div>
     </div>

   </div>




 <app-app-footer></app-app-footer>
