<div class="container p-5">
  <div class="row g-5 mt-2">

      <div class="col-7">
        <h4 class="mb-3">Billing address</h4>

        <p>Order details (2 courses)</p>

        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <div class="card border-dark mb-3  rounded-0">
              <div class="card-body text-dark">
                <div class="row ">
                  <div class="col-md-3 text-center">
                    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1743944891/degrees-diplomas-nav-tile_jdtop4.webp" alt="Online Education" style="width: 120px; height: 60px;">
                  </div>

                  <div class="col-md-7">
                    <p class="card-title " style="font-size: 14px;">Angular - The Complete Guide (2025 Edition)</p>
                  </div>

                  <div class="col-md-2 text-end">
                    <h6 class="card-title mb-0 mt-0">3000</h6>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

      </div>

      <div class="col-5">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Order summary</span>
        </h4>


        <ul class="list-group mb-3 rounded-0">

          <li class="list-group-item d-flex justify-content-between" style="font-size: 14px;">
              <p class="my-0">Original Price : </p>
              <span>$12</span>
          </li>


          <li class="list-group-item d-flex justify-content-between" style="font-size: 14px;">
              <p class="my-0">Discount</p>
              <span>−$5</span>
          </li>


          <li class="list-group-item d-flex justify-content-between" >
              <p class="my-0 fw-bold">Total <span class="fw-normal"> (n Courses)</span></p>
              <span>$20</span>
          </li>

        </ul>

        <p class="text-align-start" style="font-size: 14px;">By completing your purchase, you agree to these Terms <br> of Use</p>
        <button class="w-100 btn btn-primary btn-lg mt-3 rounded-2" >Proceed to payment</button>

      </div>

  </div>

</div>
