<div class="container p-5" *ngIf="selectedProduct">
  <div class="row g-5 mt-2">

    <!-- Course Details -->
    <div class="col-7">
      <h4 class="mb-3">Billing address</h4>
      <p>Order details</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="selectedProduct">
          <div class="card border-dark mb-3 rounded-0">
            <div class="card-body text-dark">
              <div class="row">
                <div class="col-md-3 text-center">
                  <img [src]="selectedProduct.courseThumbnail || 'https://via.placeholder.com/120x60'" alt="Course" style="width: 120px; height: 60px;">
                </div>
                <div class="col-md-7">
                  <p class="card-title" style="font-size: 14px;">{{ selectedProduct.courseTitle }}</p>
                </div>
                <div class="col-md-2 text-end">
                  <h6 class="card-title mb-0 mt-0">₹{{ totalPaid }}</h6>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Order Summary -->
    <div class="col-5">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Order summary</span>
      </h4>

      <ul class="list-group mb-3 rounded-0">
        <li class="list-group-item d-flex justify-content-between" style="font-size: 14px;">
          <p class="my-0">Course Price:</p>
          <span>₹{{ coursePrice }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between" style="font-size: 14px;">
          <p class="my-0">Tax:</p>
          <span>₹{{ taxCharges }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <p class="my-0 fw-bold">Total:</p>
          <span>₹{{ totalPaid }}</span>
        </li>
      </ul>

      <p class="text-align-start" style="font-size: 14px;">
        By completing your purchase, you agree to these Terms of Use
      </p>
      <button class="w-100 btn btn-primary btn-lg mt-3 rounded-2" (click)="payWithRazorpay()">
        Proceed to payment
      </button>
    </div>
  </div>
</div>
