




<div class="container-fluid d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle p-3"
  style="font-family: 'Poppins', sans-serif; width: 100vw; height: 100vh;">
    <div class="col-11 col-sm-10 col-md-8 col-lg-5 col-xl-4">
    <div class="card shadow-lg border-primary rounded-3 w-100" style="margin-top: 50px;">
      <div class="card-body p-4 p-md-5">

        <!-- Logo -->
        <div class="text-center mb-5 mt-5">
          <img src="https://firebasestorage.googleapis.com/v0/b/course-platform-247f5.firebasestorage.app/o/Website%2FLogo%201.jpg?alt=media&token=b7463ab0-2dee-41ae-87ec-d4d7610ae333"
            alt="Logo" class="img-fluid rounded-circle" style="width: 80px; height: 80px; object-fit: cover; margin-top: -50px; margin-bottom: -50px;">
        </div>

        <!-- Heading -->
        <h4 class="text-center mb-4 mt-5 poppins-bold">Welcome Back</h4>

        <!-- Login Form -->
          <form [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <div class="form-group mb-3">
              <div class="input-group ">
                <span class="input-group-text"><i class="bi bi-envelope" style="font-size: 1.2rem;"></i></span>
                <input [ngClass]="{'is-invalid': loginDetails.get('email')?.invalid && loginDetails.get('email')?.touched}"
                  placeholder="Email Address" id="email" formControlName="email" type="email"
                  class="form-control form-control-sm rounded-0" style="height: 45px;" />
              </div>
                   <div *ngIf="loginDetails.get('email')?.touched">
                <small *ngIf="loginDetails.get('email')?.errors?.['required']" class="text-danger" style="font-size: 12px;">Email
                  is required.</small>
                <small *ngIf="loginDetails.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email format.</small>
              </div>
          </div>

          <!-- Password -->
          <div class="form-group mb-2">
              <div class="input-group ">

                <span class="input-group-text"><i class="bi bi-lock" style="font-size: 1.2rem;"></i></span>
                <input [type]="showPassword ? 'text' : 'password'"
                  [ngClass]="{'is-invalid': loginDetails.get('password')?.invalid && loginDetails.get('password')?.touched}"
                  placeholder="Create Password" id="password" formControlName="password" type="password"
                  class="form-control form-control-sm rounded-0" style="height: 45px;" />
                <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'" style="font-size: 1.2rem;"></i>
                </button>
              </div>
              <div *ngIf="loginDetails.get('password')?.touched">
                <small *ngIf="loginDetails.get('password')?.errors?.['required']" class="text-danger"
                  style="font-size: 12px;">Password is required.</small>
                <small *ngIf="loginDetails.get('password')?.errors?.['pattern']" class="text-danger">Invalid Password
                  format.</small>
              </div>
          </div>

          <!-- Forgot Password -->
          <div class="text-end mb-3">
            <span class="text-primary poppins-medium" style="cursor: pointer; font-size: 12px;" (click)="goToForgotPassword()">Forgot Password?</span>
          </div>

          <!-- Login Button -->
          <div class="d-grid">
            <button type="submit" class="btn btn-outline-primary poppins-medium py-2" style="font-size: 14px;">Login</button>
          </div>
        </form>

        <!-- Footer -->
        <div class="text-center mt-4">
          <p class="mb-0 poppins-medium"> New user?
            <span class="text-primary poppins-medium" style="cursor: pointer; font-size: 14px;"(click)="goToSignupPage()">Create an account</span>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
