




.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  padding: 0 10px;
  z-index: 1;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  font-size: 0.8rem;
  padding: 10px;
}

