
<div class="container-fluid bg-body-secondary">

  <h3 class="fw-bold mb-3">Purchase history</h3>

      <div class="nav nav-underline d-flex gap-5 mb-2"  aria-orientation="horizontal">
        <button class="nav-link mb-2" [class.active]="activeTab === 'courses'" (click)="setActiveTab('courses')">Courses</button>
        <button class="nav-link mb-2" [class.active]="activeTab === 'refunds'" (click)="setActiveTab('refunds')">Refunds</button>
      </div>


    <!-- Scrollable Content Area -->
      <div [ngSwitch]="activeTab">
        <!-- Village -->
        <div *ngSwitchCase="'courses'" style="font-size: 14px">
          <p>Village works!</p>
        </div>

        <!-- Stage -->
        <div *ngSwitchCase="'refunds'" style="font-size: 14px">
          <p>Stage works!</p>
        </div>
      </div>
</div>
