<div class="container-fluid bg-body-secondary">

<div class="card border-primary mb-3  rounded-0">
  <div class="card-header bg-primary text-white rounded-0">Course ID</div>
  <div class="card-body text-dark">

    <div class="row align-items-center">
      <div class="col-md-2 text-center">
          <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1746956327/cert-course_vbs1sm.avif"  alt="Online Education">

      </div>
      <div class="col-md-10">
        <h6 class="card-title mb-2">Course Name</h6>
        <p class="card-text mb-1" style="font-size: 14px;">Category: Course Category</p>
        <p class="card-text mb-1" style="font-size: 14px;">Percentage Scored: 90%</p>
        <p class="card-text text-primary" style="text-decoration: underline; cursor: pointer; font-size: 14px;">Download Certificate</p>
      </div>
    </div>

  </div>
</div>




</div>
