



<div class="container  mt-3" *ngIf="!isLoading" style="font-family: 'Poppins', sans-serif;">


  <form [formGroup]="profileUploadForm" (ngSubmit)="updateProfileImage()">

<div class="col mb-5 mt-5">
  <div  class="container d-flex flex-column align-items-center justify-content-center rounded-3 file-upload-container p-4 border border-primary border-dashed">
    <!-- PREVIEW SECTION -->
    <div class="col ">

      <div *ngIf="!ifPreview" class="d-flex align-items-center justify-content-center bg-light rounded-3 mt-4 p-4 border border-secondary"  style="min-height: 200px;">
        <img *ngIf="fetchedURL" [src]="profile.profilePicture.url" class="card-img-top rounded" style="width: 150px; height: auto;"  alt="Preview Image">
      </div>

      <div *ngIf="ifPreview" class="d-flex flex-wrap align-items-center justify-content-center bg-light rounded-3 mt-4 p-2 border border-secondary">
        <div class="card position-relative">
          <img [src]="previewURL" class="card-img-top rounded" style="width: 150px; height: auto;"  alt="Preview Image">
        </div>
      </div>
    </div>

    <input type="file" id="file"  (change)="onFileChange($event, profile.profilePicture.fileName)" hidden />
    <label for="file" class="file-upload-label mt-3">
      <i class="bi bi-cloud-arrow-up upload-icon text-primary" style="font-size: 30px; cursor: pointer;"></i>
    </label>
    <p class="text-muted" style="font-size: 14px;">Click to upload file</p>
    <small class="text-muted " style="font-size: 12px;">
      <i class="bi bi-info-circle" style="font-size: 1rem; color: rgb(0, 110, 255);"></i> Allowed formats: JPEG, PNG, JPG
    </small>

    <!-- Dynamic Progress Bar -->
    <div class="progress w-75 mt-3" *ngIf="fileUploadProgress">
      <div class="progress-bar bg-success" [style.width.%]="fileUploadProgress | async">
        {{ fileUploadProgress | async }}%
      </div>
    </div>

    <!-- Success message -->
    <div *ngIf="uploadComplete" class="mt-3 text-success poppins-semibold">Upload Completed!</div>
  </div>
</div>


    <div class="container mb-5">
      <div class="d-flex justify-content-between mt-5">
        <button type="button" class="btn btn-sm btn-outline-danger px-4  poppins-medium"  (click)="discard()">Discard</button>
        <button type="submit" class="btn btn-sm btn-outline-primary px-4  poppins-medium" [disabled]="profileUploadForm.invalid">Update</button>
      </div>
    </div>




  </form>
</div>

<div class="container-fluid" *ngIf="isLoading">
  <div class="text-center">
      <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mt-3">
          <p>Saving profile details</p>
      </div>
  </div>
</div>

