<div class="sidebar shadow-lg" [ngClass]="{'open': sidebarOpen}">

  <ul class="nav-list" style="margin-top: 80px;">
    <li *ngFor="let menu of menuItems" style="margin: 15px 10px;">
      <a [routerLink]="menu.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i [class]="menu.icon" ></i>
        <span  class="links_name poppins-medium" style="margin-left: 5px; margin-right: 10px; font-size: 14px;">{{ menu.label }}</span>
      </a>
      <span class="tooltip  poppins-regular" style="font-size: 14px;">{{ menu.label }}</span>

    </li>
  </ul>
</div>




