<app-app-header></app-app-header>

<div class="container-fluid col-xxl-8 p-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 p-5 mt-5 mb-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1744169895/9175118_6461_rmh637.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-3">Come learn <br> with us</h1>
      <p class="lead">Become an learner and update skills</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary  w-50 rouded-0" (click)="goToRegistrationPage()">Get Started</button>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid text-secondary px-4 py-5 my-5 text-center">
  <div class="container p-5 mt-5 mb-5">
    <h1 class="display-5 fw-bold">Become an learner today</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Join one of the world’s largest online learning marketplaces.</p>
      <div class=" d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-primary w-50 px-4 me-sm-3 fw-bold" (click)="goToRegistrationPage()">Get Started</button>
      </div>
    </div>
  </div>
</div>



<app-app-footer></app-app-footer>
